@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

body {
  font-family: 'Inter', sans-serif;
  line-height: 28px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  position: relative;
  padding: 0;
  border-bottom: 1px solid #dfe1e6;
  margin: 0 auto 25px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.head {
  background-image: url('images/bg-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.header-content {
  position: fixed;
  width: 100%;
  z-index: 6;
  background-color: #fff;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 20px;
  height: 15px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  margin: 0;
  color: #28352f;
  transition: 1s;
  transform: rotate(360deg);
}

.logo:hover {
  color: #36b37f;
}

.hamburger {
  position: absolute;
  z-index: 3;
  right: 35px;
  cursor: pointer;
}

.btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #000;
}

.mobile-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  height: 100%;
  width: 100%;
}

.cross-arrow {
  font-size: 40px;
  position: absolute;
  right: 6%;
  top: 3%;
  width: 12px;
  height: 12px;
  color: #67798e;
}

.mobile-nav {
  margin-top: 108px;
  margin-left: 28px;
}

.menu-mobile-list {
  margin-bottom: 40px;
}

.menu-mobile-list a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.headline {
  height: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.headline-text {
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  font-style: normal;
  color: #172b4d;
  text-align: center;
  width: 327px;
  margin-top: 100px;
  margin-bottom: 38px;
}

.primary-color {
  color: #36b37e;
  display: inline-block;
}

.headline-paragraph {
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 24px;
  width: 70%;
}

.contact-icons {
  position: static;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.9px;
  margin: 20px 0 50px;
}

.contact-icon {
  margin-right: 20px;
}

/* Modal */
.modal-section {
  background-color: rgba(0, 0, 0, 0.98);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  overflow-y: hidden;
}

.modal-container {
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 26px auto;
  box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 8px;
  overflow-y: auto;
}

.modal-content {
  padding: 16px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.modal-img {
  width: 100%;
}

modal-img img {
  width: 100%;
}

.times {
  position: absolute;
  top: 30px;
  right: 41px;
  font-size: 45px;
  cursor: pointer;
}

.modal-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 12px 0;
  font-size: 12px;
  font-weight: 600;
}

.modal-list li {
  margin-right: 8px;
  background-color: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  padding: 8px 12px;
}

.modal-paragraph {
  font-size: 16px;
  margin: 12px 0;
  color: #344563;
}

.btn a {
  background-color: #36b37f;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  margin-right: 12px;
}

.btn {
  margin: 26px 0;
  border-radius: 4px;
}

.f-icon {
  margin-left: 10px;
}
/* Links */

.footer-email a {
  color: #42526e;
  transition-property: color;
  transition-duration: 0.7s;
}

.menu a {
  color: #344567;
  transition-property: color;
  transition-duration: 0.7s;
}

.contact-icon a,
.footer-icon a {
  color: #505f79;
  transition-property: color;
  transition-duration: 0.7s;
}

.contact-icon a:hover,
.footer-icon a:hover,
.footer-email a:hover,
.menu a:hover {
  color: #36b37e;
}

.arrow-btn {
  cursor: pointer;
  padding: 8px;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid #dfe1e6;
  color: #344563;
  transition-property: color;
  transition-duration: 0.7s;
}

.arrow-btn:hover {
  color: #36b37e;
}

/* Work & About */

.works {
  width: 95%;
  margin: 0 auto;
}

.works-header {
  position: relative;
  margin: 100px auto 62px;
  color: #172b4d;
  text-align: center;
}

.underline {
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  font-style: normal;
  text-align: center;
  margin: 24px 0;
}

.break {
  display: block;
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -12.8px;
  left: 50%;
  background: #36b37e;
  width: 48px;
  height: 4px;
  transform: translate(-50%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-bottom: 24px;
}

.card-head {
  width: 100%;
  height: 252px;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.work-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 29px;
}

.work-tool {
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  font-style: normal;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 8px;
  color: #3a4a42;
}

.md-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-style: normal;
  color: #3a4a42;
  margin: 16px 0;
}

.see-project-btn {
  background-color: #36b37f;
  border-radius: 4px;
  text-align: center;
  width: 122px;
  height: 48px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3%;
  font-style: normal;
  color: #fff;
  left: calc(50% - 122px / 2 + 0.5px);
  transition: background-color 0.7s;
}

.see-project-btn:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.see-project-btn:focus {
  background-color: #008552;
}

.btn-large {
  width: 159px;
}

.about-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px auto 59px;
  box-sizing: border-box;
  width: 100%;
}

.about-text {
  margin: 57px 24px 24px;
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  font-style: normal;
  color: #172b4d;
  text-align: center;
  width: 70%;
}

.about-paragraph {
  position: static;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 24px;
  width: 70%;
}

.about {
  position: relative;
}

.frame-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
}

.frame-11 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
}

.frame-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
}

.frame-4 {
  position: absolute;
  bottom: 45px;
  left: 274px;
  width: 70px;
}

.frame-3 {
  position: absolute;
  bottom: 17px;
  right: 0;
  width: 60px;
}

.frame-33 {
  position: absolute;
  bottom: 22px;
  right: 0;
  width: 50px;
}

.skillset {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}

.skill-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ebf0ee;
  height: 500px;
  width: 95%;
}

.skill-1 {
  padding: 0 20px 20px;
}

.skillset-icon {
  margin-bottom: 64px;
  margin-top: 40px;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  padding: 20px;
  border-radius: 60px;
  box-sizing: border-box;
}

.skillset-icon img {
  width: 100%;
}

.sm-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 24px 0;
}

.skill-tools {
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0 28px 72px;
  box-sizing: border-box;
}

.skill-tool {
  margin-right: 12px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  font-style: normal;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  color: #36b37e;
  box-sizing: border-box;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 60px auto 50px;
}

.form-header {
  text-align: center;
  width: 85%;
  margin: 24px auto;
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  font-style: normal;
  color: #172b4d;
}

.form {
  width: 85%;
  margin: 58px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type='text'],
input[type='email'],
textarea {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 24px;
  line-height: 24px;
  font-size: 15px;
  font-weight: normal;
}

input[type='text'],
input[type='email'] {
  height: 48px;
  padding: 12px 15px;
  color: #6b778c;
  border: 1px solid #d0d9d4;
}

input[type='text']:hover,
input[type='email']:hover {
  padding: 12px 20px;
}

textarea {
  height: 114px;
  padding: 12px;
  color: #091e42;
  border: 1px solid #60c095;
}

textarea:hover {
  padding: 12px 20px;
}

button[type='submit'] {
  margin: 0 10px;
  background-color: #36b37f;
  border-radius: 4px;
  height: 48px;
  position: static;
  width: 129px;
  left: 99px;
  top: calc(50% - 48px / 2 + 141px);
  padding: 12px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
  transition: background-color 0.7s;
}

button[type='submit']:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button[type='submit']:focus {
  background-color: #008552;
}

.footer {
  width: 100%;
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-icon {
  width: 19.99px;
  margin-right: 25px;
}

.last {
  margin-left: 12px;
}

.footer-email {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
}

/* Nav menu */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 72px;
}

.menu-list {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin: 0 10px;
  padding: 15px 12px;
}

.menu .mg-0 a {
  margin-right: 0;
}

/* Mobile Version */
@media only screen and (max-width: 994px) {
  header.menu-nav {
    display: none;
  }

  .frame-2,
  .frame-4,
  .frame-3 {
    display: none;
  }

  .frame-4 {
    display: none;
  }

  main {
    border-bottom: none;
  }
}

/* Desktop Version */

@media only screen and (min-width: 995px) {
  header.header-content {
    display: none;
  }

  .headline {
    height: 756px;
  }

  .headline-text {
    width: 920px;
    margin: 100px auto 24px;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .headline-paragraph {
    width: 70%;
    line-height: 32px;
    margin: 24px 0;
  }

  .contact-icons {
    width: 200px;
    height: 40px;
    margin: 24px 0;
  }

  .contact-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
  }

  .works-header {
    margin: 50px auto 62px;
  }

  .underline::after {
    display: none;
  }

  .break {
    display: inline;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .skillset {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-form {
    flex-direction: row;
    column-gap: 24px;
    width: 90%;
    margin: 84px auto 145px;
  }

  .form {
    margin-top: 0;
    margin-right: 24px;
  }

  .form-header-wrapper {
    width: 50%;
    align-self: flex-start;
  }

  .form-header {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-right: 24px;
    width: 100%;
  }

  button[type='submit'] {
    margin: 0;
    align-self: flex-start;
  }

  .frame-3,
  .frame-1,
  .frame-11 {
    width: 100px;
  }

  .frame-33 {
    display: none;
  }

  .footer {
    margin-bottom: 25px;
  }

  .footer-email {
    display: none;
  }

  /* Modal */

  .modal-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-image {
    grid-column: span 2;
    order: 2;
  }

  .modal-image img {
    margin-top: 4%;
  }

  .modal-title {
    font-size: 1.7rem;
    line-height: 44px;
    order: 3;
  }

  .btn {
    order: 4;
    margin-left: 8rem;
  }

  .modal-list {
    order: 5;
  }

  .modal-paragraph {
    order: 6;
    grid-column: span 2;
  }

  .times {
    border-radius: 8px;
    padding: 5px;
    background-color: #ebecf0;
    height: 30px;
  }
}
